.search-container-details {
  display: flex;
  width: auto;
  background-color: #ffffff;
  padding: 30px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  gap: 50px;
}
.search-wrapper-details {
  display: flex;
  margin: 30px 50px;
  gap: 40px;
}
.profile-container img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.profile-container {
  align-self: first;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
