.add-subject-btn {
  text-align: center;
}
.add-subject-btn button {
  width: fit-content;
}
.subject-form {
  display: flex;
  flex-direction: column !important;
}
.subject-form div {
  flex-direction: row;
  width: 100%;
}
