.pickerWrapper {
  background-color: #333333;
  width: 100%;
  height: 300px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  border-radius: 15px;
}
.month-name {
  color: #7d7d7d;
  font-size: 20px;
  font-weight: bold;
}
.month-days {
  color: #686868;
  font-size: 18px;
}
#day {
  color: white;
}
.current-date {
  background-color: #d9d9d966;
  border-radius: 30px;
}
.pickerWrapper button {
  border: none;
  outline: none;
  background: none;
}
.headerDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  height: 30px;
  width: 95%;
}
ion-icon {
  cursor: pointer;
  font-size: 2rem;
  color: #7d7d7d;
  font-weight: bold;
}
.staff-attendance-wrapper {
  width: 80vw;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.bodyDate {
  margin: 5px;
}
.sevenColGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 10px;
}
.sevenColGrid p {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  border: 1px solid green;
  height: 100%;
  border-radius: 10px;
}
